.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  height: 100px;
  width: 100vw;
  position: relative;
  bottom: 0;
}

.button {
  text-decoration: none;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 18px;
  width: 14rem;
  height: 5.5rem;
  @include bold-16($color-white);
  position: absolute;
  transition: all 0.5s ease-in;

  &__primary {
    background: $color-violet-dark;
    transform: translateX(-40%);
    &:hover {
    }
    &:active .section-signup {
      transform: translateY(0%);
      transition: all 0.5s;
    }
    @include respond(desktop) {
      visibility: hidden;
    }
  }
  &__secondary {
    transform: translateX(40%);

    background: rgba($color-violet-dark, 0.55);
    @include respond(desktop) {
      visibility: hidden;
    }
  }
  &__primary--start {
    background: $color-violet-dark;
    width: 100%;
    grid-row: 1/2;
    place-self: center;
    transform: translate(0%, 0%);

    &--login {
      transform: translate(0%, 0%);
    }
    &:hover {
    }
    &:active .section-signup {
      transform: translateY(0%);
      transition: all 0.5s;
    }
    @include respond(desktop) {
      visibility: visible;
      width: 50%;
    }
  }
  &__secondary--google {
    background: rgba($color-violet-dark, 0.55);
    width: 100%;
    grid-row: 2/3;
    place-self: center;
    transform: translate(0%, 0%);
    @include respond(desktop) {
      visibility: visible;
      width: 50%;
    }
    &--login {
      transform: translate(0%, 0%);
    }
    img {
      margin-right: 1rem;
      margin-top: 0.5rem;
    }
  }
}
