.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  height: 100px;
  width: 100vw;

  .button {
    border: none;
    border-radius: 18px;
    width: 14rem;
    height: 6rem;
    margin: 0 auto;
    @include bold-16($color-white);
    position: absolute;

    &__primary {
      background: $color-violet-dark;
      transform: translateX(-40%);
    }
    &__secondary {
      transform: translateX(40%);

      background: rgba($color-violet-dark, 0.55);
    }
  }
}
