.bg-container {
  grid-row: 2/3;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.bg-shape {
  min-width: 30rem;
  min-height: 30rem;
  background: $color-violet-dark;
  border-radius: 70% 70% 50% 50%;
  transform: scaleX(1.4) scaleY(1.3);
  place-self: center;
}
.img {
  @include clearfix;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../img/mobile-01.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 5s;

  animation-name: animate;
  animation-direction: alternate-reverse;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;
}

@keyframes animate {
  0% {
    background-image: url(../../img/mobile-02.png);
  }
  50% {
    background-image: url(../../img/mobile-03.png);
  }
  100% {
    background-image: url(../../img/mobile-01.png);
  }
}
