.bg-container {
  grid-row: 2/3;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.bg-shape {
  min-width: 30rem;
  min-height: 30rem;
  background: $color-violet-dark;
  border-radius: 70% 70% 50% 50%;
  transform: scaleX(1.4) scaleY(1.3);
  place-self: center;
}
.img {
  @include clearfix;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../img/mobile-02.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.0001s;
  opacity: 0;
  animation-name: animate;
  animation-direction: alternate;
  animation-duration: 9s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;
}

@keyframes animate {
  0% {
    background-image: url(../../img/mobile-02.png);
    opacity: 1;
    bottom: 0;
  }
  32% {
    background-image: url(../../img/mobile-02.png);
    opacity: 1;
    bottom: 0;
  }
  33% {
    background-image: url(../../img/mobile-03.png);
    opacity: 1;
    bottom: -3rem;
  }
  65% {
    background-image: url(../../img/mobile-03.png);
    opacity: 1;
    bottom: -3rem;
  }
  66% {
    background-image: url(../../img/mobile-01.png);
    opacity: 1;
    bottom: 0;
  }
  99% {
    background-image: url(../../img/mobile-01.png);
    opacity: 1;
    bottom: 0;
  }
  100% {
    background-image: url(../../img/mobile-01.png);
    opacity: 1;
    bottom: 0;
  }
}
