.bg-container {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}
.bg-shape {
  width: 10rem;
  height: 10rem;
  background: $color-violet-dark;
  border-radius: 70% 70% 50% 50%;
  position: relative;
  transform: scale(2.8);
  @include respond(xss-phone) {
    transform: scale(2.8);
  }
  @include respond(xs-phone) {
    transform: scale(3.2);
  }
  @include respond(x-phone) {
    transform: scale(3.6);
  }
  @include respond(phone) {
    transform: scale(5.4);
  }
  @include respond(tab-port) {
    transform: scale(6.4);
  }
  @include respond(tab-land) {
    transform: scale(5.4);
  }
  @include respond(desktop) {
    transform: scale(6.4);
  }
}
.img {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 50%;
  background-image: url(../../img/mobile-02.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.0001s;
  opacity: 0;
  animation-name: animate;
  animation-direction: alternate;
  animation-duration: 9s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;
  @include respond(xss-phone) {
    transform: scale(2.8);
  }
  @include respond(xs-phone) {
    transform: scale(3.2);
  }
  @include respond(x-phone) {
    transform: scale(3.6);
  }
  @include respond(phone) {
    transform: scale(5.4);
  }
  @include respond(tab-port) {
    transform: scale(6.4);
  }
  @include respond(tab-land) {
    transform: scale(5.4);
  }
  @include respond(desktop) {
    transform: scale(6.4);
  }
}

@keyframes animate {
  0% {
    background-image: url(../../img/mobile-02.png);
    opacity: 1;
    bottom: 0;
  }
  32% {
    background-image: url(../../img/mobile-02.png);
    opacity: 1;
    bottom: 0;
  }
  33% {
    background-image: url(../../img/mobile-03.png);
    opacity: 1;
    bottom: -3rem;
  }
  65% {
    background-image: url(../../img/mobile-03.png);
    opacity: 1;
    bottom: -3rem;
  }
  66% {
    background-image: url(../../img/mobile-01.png);
    opacity: 1;
    bottom: 0;
  }
  99% {
    background-image: url(../../img/mobile-01.png);
    opacity: 1;
    bottom: 0;
  }
  100% {
    background-image: url(../../img/mobile-01.png);
    opacity: 1;
    bottom: 0;
  }
}
