.section-signup {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: grid;
  place-items: center;
  grid-template-rows: 25% 55% 20%;
  background: #fff;
  animation-name: slide;
  animation-duration: 3s;
  animation-fill-mode: infinite;
}
@keyframes slide {
  0% {
    transform: translate(0%, 0%) scale(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(10);
  }
  100% {
    transform: translate(0%, 0%) scale(0);
  }
}
