*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  //! this defines what 1rem is
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
  background: $color-violet;
  padding: 3rem;
  box-sizing: border-box;
  @include respond(tab-port) {
    padding: 0;
  }
}
